@import '~styles/index.scss';
.header {
  color: #fff;
  display: flex;
  padding: 0 20px;
  > .icon {
    font-size: 20px;
    transition: 0.3s all;
    cursor: pointer;
    &:hover {
      color: $primary-color;
    }
  }
  > .handler {
    margin-left: auto;
    margin-right: 16px;
    display: flex;
    .wxIcon {
      font-size: 22px;
      margin-right: 12px;
      cursor: pointer;
      transition: 0.3s all;
      &:hover {
        color: $primary-color;
      }
    }
    .avatar {
      display: flex;
      align-items: center;
      cursor: pointer;
      > img {
        width: 30px;
        height: 30px;
        display: block;
        margin-right: 6px;
        border-radius: 15px;
      }
    }
  }
}
