@import '~styles/index.scss';
.logo {
  height: 64px;
  line-height: 64px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  flex-wrap: nowrap;
  > img {
    width: 30px;
    height: 30px;
    display: block;
  }
  > span {
    margin-left: 10px;
  }
}
